{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your national insurance number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {{ govukInput({
          label: {
            text: "What is your national insurance number?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "You will have been sent this in the post, or you can call 0800 111 1111 to request a copy."
          },
          id: "ni-number",
          name: "ni-number"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
